asgiref==3.7.2
distlib==0.3.7
Django==4.2.6
django-froala-editor==4.1.3
django-guest-user==0.5.5
djangorestframework==3.14.0
filelock==3.12.4
Pillow==10.1.0
platformdirs==3.11.0
pycryptodome==3.19.0
pythonenv==0.0.34
pytz==2023.3.post1
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.24.5
